@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.google.com/specimen/Open+Sans') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 10rem;
    background-color: #f7f1eb;
}

.container {
    position: relative;
    background-image: url('./assets/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Add styles for the header section */
.header {
    background-color: #f7f1eb;
    color: #f7f1eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

.header .logo {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.header .logo img {
    max-width: 100%;
    height: auto;
}

.header nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul.menu li {
    display: inline-block;
    height: 100%;
}

.header nav ul.menu li a {
    text-decoration: none;
    color: #1f1f1f;
    padding: 1.4rem 1.5rem;
    transition: background-color 0.3s;
}

.header nav ul.menu li a:hover {
    background-color: #1f1f1f;
    color: #dcdcdc;
}

/* Add styles for the home section */
.home,
.products {
    text-align: center;
}

.home-content,
.products-content {
    padding: 10rem 2.5rem 2.5rem;
}

.home-content h1 {
    font-size: 2.25rem;
}

.home-content p {
    padding: 1rem 10rem;
}

.home-image,
.products-image {
    width: 100%;
    height: auto;
}

.products h1 {
    text-align: left;
    font-size: 2.25rem;
}

.products .products-text {
    text-align: left;
    padding: 1rem;
}

.products .products-list {
    display: grid;
    padding: 2.5rem;
    gap: 2.5rem;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
}

.products .products-list .product {
    background-color: #dcdcdc;
    padding: 1.5rem;
}

.products .products-list .product .product-name {
    text-align: left;
}

.products .products-list .product img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .main-product-image {
        height: 600px;
        width: 100%;
        background: url("https://cdn.notinoimg.com/social/skin1004/8809576261233_01-o/skin1004-madagascar-centella-travel-kit-matkasarja-herkalle-ja-artyneelle-iholle_.jpg") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main-product-image {
        height: 768px;
        width: 100%;
        background: url("https://cdn.notinoimg.com/social/skin1004/8809576261233_01-o/skin1004-madagascar-centella-travel-kit-matkasarja-herkalle-ja-artyneelle-iholle_.jpg") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .main-product-image {
        height: 600px;
        width: 100%;
        background: url("https://cdn.notinoimg.com/social/skin1004/8809576261233_01-o/skin1004-madagascar-centella-travel-kit-matkasarja-herkalle-ja-artyneelle-iholle_.jpg") no-repeat;
        background-size: 100%;
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .Brand-name {
        height: 300px;
        width: 100%;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .Brand-name {
        height: 300px;
        width: 100%;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .Brand-name {
        height: 372px;
        width: 750px;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .product-1-image {
        height: 600px;
        width: 100%;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .product-1-image {
        height: 768px;
        width: 100%;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .product-1-image {
        height: 600px;
        width: 100%;
        background: url("https://cdn.shopify.com/s/files/1/0590/4538/0253/files/logo_3ce60e3c-e671-45a3-b6b2-1c7f4cd826e5.png?v=1630311102") no-repeat;
        background-size: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .product-2-image {
        height: 600px;
        width: 100%;
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-d0QCHAyd4eq6pMFQCxB9BEhOaDiS7xccLw&usqp=CAU") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .product-2-image {
        height: 768px;
        width: 100%;
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-d0QCHAyd4eq6pMFQCxB9BEhOaDiS7xccLw&usqp=CAU") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .product-2-image {
        height: 600px;
        width: 100%;
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-d0QCHAyd4eq6pMFQCxB9BEhOaDiS7xccLw&usqp=CAU") no-repeat;
        background-size: 100%;
    }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {
    .product-3-image {
        height: 360px;
        width: 100%;
        background: url("https://www.yeppo.fi/cdn/shop/products/skin1004-ampoule-serum-coming-soon-tea-trica-relief-ampoule-37221009817846_1000x_png.webp?v=1656000014&width=480") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .product-3-image {
        height: 600px;
        width: 100%;
        background: url("https://www.yeppo.fi/cdn/shop/products/skin1004-ampoule-serum-coming-soon-tea-trica-relief-ampoule-37221009817846_1000x_png.webp?v=1656000014&width=480") no-repeat;
        background-size: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .product-3-image {
        height: 360px;
        width: 100%;
        background: url("https://www.yeppo.fi/cdn/shop/products/skin1004-ampoule-serum-coming-soon-tea-trica-relief-ampoule-37221009817846_1000x_png.webp?v=1656000014&width=480") no-repeat;
        background-size: 100%;
    }
}

        .products .products-list .product {
            text-align: left;
            margin: 0.25rem 0;
            font-style: italic;
            color: #1f1f1f;
        }

        /* Add styles for the contact section */

        .contact h1 {
            font-size: 2.25rem;
        }

        .contact {
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 2.5rem;
        }

        .contact .contact-content {
            font-style: italic;
        }

        .contact .contact-content a {
            text-decoration: none;
            font-weight: bold;
            color: #1f1f1f;
        }

        .contact .contact-image img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 1024px) {

            .header nav ul.menu li a {
                padding: 1.4rem 1rem;
            }

            .home-content p,
            .products .products-text {
                padding: 1rem 5rem;
            }

            .products .products-list {
                grid-template-columns: repeat(2, 1fr);
            }

            .contact {
                grid-template-columns: 1fr;
            }
        }

        /* Add media query for smaller screens (e.g., mobile) */
        @media (max-width: 768px) {
            .header {
                flex-direction: column;
                align-items: flex-start;
            }

            .header .logo {
                margin-bottom: 1rem;
            }

            .header nav ul.menu li {
                margin: 0.5rem 0;
            }

            .home-content p,
            .products .products-text {
                padding: 1rem 1rem;
            }

            .products .products-list {
                grid-template-columns: repeat(1, 1fr);
            }

            .contact {
                grid-template-columns: 1fr;
            }

            .contact .contact-content {
                margin-bottom: 1rem;
            }
        }
